* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 1080px;
}

header {
  grid-column: 2 / auto;
  background-color: pink;
  padding: 0 30px;
}

nav {
  grid-row: 1 / -1;
  background-color: palegoldenrod;
}

header > .top,
header > .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

input,
.name-container {
  margin-right: auto;
  flex: 1;
}

header button {
  width: 120px;
}
.bottom button:nth-child(4) {
  margin: 0 20px;
}

.top svg:nth-child(3) {
  margin-left: 100px;
  background-color: red;
}
